/* common css */
*{
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
/* header related css */
.header-container {
  background-image: url(../images/banner/banner1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1000px;
  height: 500px;
}
.header-btn {
  border-radius: 5px;
  border: none;
  background: #f15b22;
  color: #fff;
  text-align: right;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  margin-top: 30px;
}
.header-info{
  text-align: right;
  padding: 140px 210px 155px 460px;
}
.header-title {
  color: #151414;
  font-size: 40px;
}
.header-desc {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 24px;
}
